.ant-menu
  > .ant-menu-submenu-selected
  > .ant-menu-submenu-title
  > .ant-menu-title-content
  a {
  color: #1677ff !important;
}
.side-bar .ant-menu-title-content {
  overflow-x: auto !important;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.side-bar .ant-menu-title-content::-webkit-scrollbar {
  display: none;
}
